@model IEnumerable<NetworkEquipments.Services.DTO.AddressDto>
<select id="AddressId" name="AddressId" class="form-control">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.ComplexHouse</option>
    }
</select>
