@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "Отчет";
}
<p>@Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-sm btn-secondary", @role = "button" })</p>


<h4>@ViewBag.ReportName</h4>
<table class="table table-hover table-sm">
    <thead class="thead-strong">
        <tr>
            @foreach (DataColumn column in Model.Columns)
            {
                <th>
                    @column.Caption
                </th>
            }
        </tr>
    </thead>
    <tbody class="tbody-strong" id="tableData">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                @foreach (var item in row.ItemArray)
                {
                    <td>
                        @item.ToString()
                    </td>
                }
            </tr>
        }
    </tbody>
</table>