
@{
    ViewBag.Title = "Администрирование";
}

<ul>
    <li>@Html.ActionLink("Справочник типов оборудования", "Index", "EquipmentType")</li>
    <li>@Html.ActionLink("Настройка прав доступа", "Manage")</li>
</ul>

